# Variables de entorno (frontend)


VITE_SUPABASE_URL=https://flhgweikfrprnhompkcm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsaGd3ZWlrZnJwcm5ob21wa2NtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MDQ4NDAsImV4cCI6MjA4OTI4MDg0MH0.O0aUNBeRlxARfLa6QTQD7LeVExbxqLW-ui8Ww0pLbbk
VITE_API_URL=http://localhost:8001


