# Variables de entorno (backend)

SUPABASE_URL=https://flhgweikfrprnhompkcm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsaGd3ZWlrZnJwcm5ob21wa2NtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzcwNDg0MCwiZXhwIjoyMDg5MjgwODQwfQ.Ef6yBR0-gxImsxQS_5Fu3tUi34S8HLzopQKZLGrc4F8
SUPABASE_JWT_SECRET=sb_publishable_jtmXzVfvKRbtKI7dPFMfTQ_smh_JU6Q
PORT=8001


